edendevdf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "edendevdf"
		},
		"10MinuteTrigger_properties_CBD_files_from_SFTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "/Eden-DevToBlob"
		},
		"10MinuteTrigger_properties_CBD_files_from_SFTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "cbd-events"
		},
		"10MinuteTrigger_properties_Manifest_files_from_FTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "/DanMurphys/dropoff"
		},
		"10MinuteTrigger_properties_Manifest_files_from_FTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "manifests"
		},
		"10MinuteTrigger_properties_TasF_files_from_SFTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "\\\\Eden-DevToBlob"
		},
		"10MinuteTrigger_properties_TasF_files_from_SFTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "tasfreight-events"
		},
		"10MinuteTrigger_properties_XL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "\\\\Eden-DevToBlob"
		},
		"10MinuteTrigger_properties_XL_files_from_SFTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "xl-events"
		},
		"APD-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "/APD/Eden-DevToBlob"
		},
		"APD-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "apd-events"
		},
		"AusPost-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "/AusPost-EDG/Eden-DevToBlob"
		},
		"AusPost-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "auspost-events"
		},
		"Fastway-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder": {
			"type": "string",
			"defaultValue": "/fastway/Eden-DevToBlob"
		},
		"Fastway-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_ContainerName": {
			"type": "string",
			"defaultValue": "fastway-events"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TasF_files_from_SFTP_to_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Ftp Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "TasF_SFTP_FileShare_GetList",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "@pipeline().parameters.SourceFtpFolder",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Ftp Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Ftp Metadata').output.childitems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": false
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "TasF_SFTP_FileShare_GetEachFile",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.SourceFtpFolder",
													"type": "Expression"
												},
												"FileName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Eden_BlobStorage",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.ContainerName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete File",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "TasF_SFTP_FileShare_GetEachFile",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.SourceFtpFolder",
													"type": "Expression"
												},
												"FileName": "@item().name"
											}
										},
										"enableLogging": false
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFtpFolder": {
						"type": "string",
						"defaultValue": "/Eden-DevToBlob"
					},
					"ContainerName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XL_files_from_SFTP_to_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Ftp Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "XL_SFTP_FileShare_GetList",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "@pipeline().parameters.SourceFtpFolder",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Ftp Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Ftp Metadata').output.childitems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": false
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "XL_SFTP_FileShare_GetEachFile",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.SourceFtpFolder",
													"type": "Expression"
												},
												"FileName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Eden_BlobStorage",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.ContainerName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete File",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "XL_SFTP_FileShare_GetEachFile",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.SourceFtpFolder",
													"type": "Expression"
												},
												"FileName": "@item().name"
											}
										},
										"enableLogging": false
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFtpFolder": {
						"type": "string"
					},
					"ContainerName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/10MinuteTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CBD_files_from_SFTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('10MinuteTrigger_properties_CBD_files_from_SFTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('10MinuteTrigger_properties_CBD_files_from_SFTP_to_Blob_parameters_ContainerName')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Manifest_files_from_FTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('10MinuteTrigger_properties_Manifest_files_from_FTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('10MinuteTrigger_properties_Manifest_files_from_FTP_to_Blob_parameters_ContainerName')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "TasF_files_from_SFTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('10MinuteTrigger_properties_TasF_files_from_SFTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('10MinuteTrigger_properties_TasF_files_from_SFTP_to_Blob_parameters_ContainerName')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "XL_files_from_SFTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('10MinuteTrigger_properties_XL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('10MinuteTrigger_properties_XL_files_from_SFTP_to_Blob_parameters_ContainerName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-08-09T04:30:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/TasF_files_from_SFTP_to_Blob')]",
				"[concat(variables('factoryId'), '/pipelines/XL_files_from_SFTP_to_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/APD-TriggerInMinutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "NexDay3PL_files_from_SFTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('APD-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('APD-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_ContainerName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2019-08-08T05:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AusPost-TriggerInMinutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "NexDay3PL_files_from_SFTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('AusPost-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('AusPost-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_ContainerName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2019-08-08T02:14:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fastway-TriggerInMinutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "NexDay3PL_files_from_SFTP_to_Blob",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFtpFolder": "[parameters('Fastway-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_SourceFtpFolder')]",
							"ContainerName": "[parameters('Fastway-TriggerInMinutes_properties_NexDay3PL_files_from_SFTP_to_Blob_parameters_ContainerName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2019-08-08T03:36:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		}
	]
}